SSO_CLIENT_ID=<replace with SSO client ID from 1Password>
SSO_TENANT_ID=<replace with SSO tenant ID from 1Password>
SSO_CLIENT_SECRET=<replace with SSO client secret from 1Password>
NEXTAUTH_SECRET=<replace with random string>
SSO_CUSTOM_SCOPE=read.user
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_GATEWAY_URL=http://localhost:8080
NEXT_PUBLIC_STAGE=dev
NEXT_PUBLIC_DEBUG_MODE=true
NEXT_PUBLIC_DEBUG_ROLE_OVERRIDE=
NEXT_PUBLIC_DISPLAY_SHAREPOINT_PERSONALAKT=false
NEXT_PUBLIC_SHAREPOINT_ALLOWED_NAMES=Belinda Pichelbauer,Anna Gorny,Bernhard Scheucher,Carmen Ladinig,Leopold Fischl
