.dashboard-name {
  min-width: calc(160px * 3 - 4px);
  padding: 8px;
}

.grid-layout {
  background: conic-gradient(from 90deg at 7px 7px, #d9dadc 90deg, #0000 0) 0
    0px / calc((2240px + 0.25rem) / 14) 160px local;
}

.react-grid-item.react-grid-placeholder {
  background-color: var(--color-ibis-blue) !important;
}
